<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixRegions_10000000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-8.aml</string>
			<string>SSDT-9.aml</string>
			<string>SSDT-10.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 nv_disable=1 -gux_defer_usb2 dart=0</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>3</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>OS X El Capitan</string>
					<key>Hotkey</key>
					<string>m</string>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Kali Linux 2017.1</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\kali\vmlinuz</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Hotkey</key>
					<string>k</string>
					<key>VolumeType</key>
					<string>Internal</string>
					<key>Arguments</key>
					<string>initrd=/EFI/kali/initrd.img root=/dev/sda5 rw add_efi_memmap nvidia-drm.modeset=1</string>
					<key>CustomIcons</key>
					<true/>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Windows 10 Enterprise</string>
					<key>Hotkey</key>
					<string>w</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Microsoft\Boot\bootmgfw.efi</string>
					<key>Type</key>
					<string>Windows</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Kali Linux (USB)</string>
					<key>Hotkey</key>
					<string>u</string>
					<key>Ignore</key>
					<false/>
					<key>Path</key>
					<string>\efi\boot\bootx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>VolumeType</key>
					<string>External</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>FullTitle</key>
					<string>OS X Recovery</string>
					<key>Hotkey</key>
					<string>r</string>
					<key>Ignore</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<false/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>clover-minimal</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch 10.10.2</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>QYjE6xE=</data>
				<key>Name</key>
				<string>#Disabled# IOGraphicsFamily</string>
				<key>Replace</key>
				<data>QYjE6zE=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Realtek ALC269_VC #1</string>
				<key>Find</key>
				<data>hQjsEA==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Realtek ALC269_VC #2</string>
				<key>Find</key>
				<data>gxnUEQ==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Realtek ALC269_VC #3</string>
				<key>Find</key>
				<data>hBnUEQ==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>aQLsEA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, unsupported HDAU 0c0c, 2 of 2 (0c0a to 0c0c)</string>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch 10.11</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, unsupported HDAU 0c0c, 1 of 2 (range check)</string>
				<key>Find</key>
				<data>PQsMAAA=</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a260005 0x0a260006</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUJAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a260005 0x0a260006</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>#Disabled#AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUSAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch_against_assertions</string>
				<key>Find</key>
				<data>U291bmQgYXNzZXJ0aW9uIA==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAAAAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch 10.11</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAAdBc=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Fix Bluetooth 30 seconds commandWakeup</string>
				<key>Find</key>
				<data>AAAAD4UHAQAA</data>
				<key>Name</key>
				<string>IOBluetoothHostControllerUSBTransport</string>
				<key>Replace</key>
				<data>AAAAD4QHAQAA</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>WiFi 5Ghz</string>
				<key>Find</key>
				<data>dTpIhfZ1DTHA9kNZgHUt</data>
				<key>Name</key>
				<string>AirPortAtheros40</string>
				<key>Replace</key>
				<data>kJBIhfaQkDHA9kNZgJCQ</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>ATHR: unknown locale: 60</string>
				<key>Find</key>
				<data>D7eH3AQAAA==</data>
				<key>Name</key>
				<string>AirPortAtheros40</string>
				<key>Replace</key>
				<data>uGQAAACQkA==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/18/13</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP112.88Z.0138.B00.1310031144</string>
		<key>Board-ID</key>
		<string>Mac-3CBD00234E554E41</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02123500U2DM6PAN</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>MacBookPro11,2</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>08</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>OEMBoard</key>
		<string>X450JF</string>
		<key>OEMProduct</key>
		<string>X450JF</string>
		<key>OEMVendor</key>
		<string>ASUSTeK COMPUTER INC.</string>
		<key>ProductName</key>
		<string>MacBookPro11,2</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>BacklightLevel</key>
		<string>0x0101</string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
